body {

  font-family: "Arial", Serif;
  background-color: #ccc;
  overflow-x: hidden;
}

.navbar {
  background-color: #293133;
  overflow: hidden;
  height: 63px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: #000;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  margin-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.active {
  background-color: #808080;
}

table,
th,
td {
  border: 1px solid black
}

#hp {
  float: right;
  margin: 0 0 0 15px;
}

article {
  padding-left: 60px;
}

h1 {
  text-align: center;
}

.accordion {
  padding: 4rem;
}

summary {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background: #eceff1;
  padding: 1rem 2rem;
}

details {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1rem;
}

details p {
  margin: 1rem auto;
  translate: 2rem 0;
}

summary>* {
  display: inline;
}
table, th, td{
  border: 1px solid black
}
label {
  padding-right: 10px;
  font-size: 1rem;
}
.notCompleted {
background-color: #ccc;
}
.completed {
  background-color: green;
}